/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --aa-primary-color-rgb: 7, 89, 133 !important;
  --aa-muted-color-rgb: 7, 89, 133 !important;

  /* --ifm-navbar-height: 88px; */
  --ifm-color-primary: #075985;
  --ifm-color-primary-dark: #065078;
  --ifm-color-primary-darker: #064c71;
  --ifm-color-primary-darkest: #053e5d;
  --ifm-color-primary-light: #086292;
  --ifm-color-primary-lighter: #086699;
  --ifm-color-primary-lightest: #0974ad;
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.dsla-search-field {
  min-width: 150px;
  background: transparent;
  margin-right: 50px;
}

.dsla-search-field button {
  background: transparent;
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: 10rem;
  color: var(--ifm-color-gray-700);
}

.aa-DetachedSearchButtonIcon svg {
  color: var(--ifm-color-gray-700);
}